@import "tailwindcss";
html{
    scroll-behavior: smooth;
}
@font-face {
    font-family: "gebuk";
    src: url(/fonts/gebuk-font/gebuk-regular.otf);
}
@font-face {
    font-family: "gcvermolin";
    src: url(/fonts/vermolin-sophisticated-serif/gcvermolin-regular.ttf);
}
@font-face {
    font-family: "tousLight";
    src: url(/fonts/tous-font-family/tous-light.otf);
}
hr {
    width: 90%;
    margin: auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    font-family: "gebuk", sans-serif;
    font-size: 20px;
}
.sec-1{
    background-color: #ECEEEC !important;
}
.sec-1 .nav{
    z-index: 10;
    padding: 0 30px;
    background-color: #1A1A1A !important;
    box-shadow: rgba(0, 0, 0, 0.199) 0px 25px 20px -20px;
}
.sec-1 .nav .ul li a{
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease-in-out;
}
.sec-1 .nav .ul li a:hover{
    color: #9e9e9e;
}
.sec-1 main .personal-info{
    padding-left: 5%;
    padding-bottom: 3%;
}
.sec-1 main .personal-info h3{
    font-family: "tousLight", sans-serif;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #C93F24;
}
.sec-1 main .personal-info h1{
    font-family: "castoro", sans-serif;
    font-size: 60px;
    color: black;
    margin-bottom: 10px;
    line-height: 1;
}
.sec-1 main .personal-info .btns{
    margin-top: 40px;
}
.sec-1 main .personal-info .btns a {
    font-family: "Poppins", sans-serif;
    color: white;
    background-color: black;
    border: 2px solid black;
    padding: 15px 35px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 3px;
}
.sec-1 main .personal-info .btns a:nth-child(1){
    margin-right: 20px;
}
.sec-1 main .personal-info .btns a:hover{
    background-color: white;
    color: black;
}
.sec-2 .main-1{
    min-height: 130vh;
}
.sec-2{
    min-height: 100vh;
    padding: 0 5%;
}
.sec-2 .main-1, .sec-2 .main-2,.sec-3 .main-3{
    padding: 70px 50px 0 50px;
    margin-bottom: 80px;
}
.sec-2 .main-1 p{
    font-size: 25px;
    margin-bottom: 30px;
}
.sec-2 .main-1 h1, .sec-2 .main-2 h1, .sec-3 h1, .sec-4 h1{
    font-family: "castoro", sans-serif;
    font-size: 50px;
    margin-top: 60px;
    margin-bottom: 30px;
}
.sec-2 .main-2 .skills .skill h2{
    font-family: "gcvermolin", serif;
    font-size: 35px;
    margin-bottom: 30px;
    position: relative;
    padding-left: 15px;
}
.sec-2 .main-2 .skills .skill h2::before {
    content: "";
    height: 100%;
    width: 3px;
    background-color: #C93F24;
    transform: translateY(-50%);
    position: absolute;
    left: 0;
    top: 50%;
}
.sec-2 .main-2 .skills .skill ul li {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    list-style-type: disc;
    margin-left: 20px;
}
.sec-3{
    min-height: 100vh;
    padding: 5% 5% 0% 5%;
}

.overlay{
    background-color: #141414;
}
.overlay .textH{
    font-size: 20px;
    color: white;
}
.sec-4{
    padding: 5% 5% 2% 5%;
    background-color: #1A1A1A !important;
    margin-top: 45px !important;
}
.sec-4 .form form{
    padding: 30px;
    border-radius: 12px;
}
.sec-4 .form form input{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    padding: 12px;
    outline: none;
    color: black;
    background-color: white;
}
.sec-4 .form form textarea{
    font-family: "touslight", sans-serif;
    font-size: 16px;
    padding: 12px;
    outline: none;
    color: black;
    background-color: white;
    height: 50%;
    scrollbar-width: none;
    resize: none;
}
.sec-4 .form form button{
    font-family: "Poppins", sans-serif;
    color: black;
    background-color: white;
    padding: 15px 35px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 3px;
}
.sec-4 .form form button:hover{
    background-color: black;
    color: white;
}
#menu{
    display: none;
}
#close{
    display: none;
}







/* Media Queries */
@media (max-width:1099px) {
    .sec-1 main .personal-info h1{
        font-size: 50px;
    }
}
@media (max-width:980px) {
    .sec-2 .main-1, .sec-2 .main-2,.sec-3 .main-3{
        padding: 50px 30px 0 30px;
    }
}
@media (max-width:973px) {
    .sec-1 main .personal-info .btns a {
        font-size: 11px;
    }
}
@media (max-width:940px){
    .sec-1 .nav ul{
        width: 40%;
    }
}
@media (max-width:906px) {
    .sec-1 main .personal-info .btns a {
        font-size: 10px;
    }
}
@media (max-width:873px) {
    .sec-1 main .personal-info .btns a {
        padding: 12px 25px;
    }
}
@media (max-width:888px) {
    .sec-2 .main-2 .skills .skill h2{
        font-size: 30px;
    }
    .sec-2 .main-2 .skills .skill ul li{
        font-size: 16px;
    }
}
@media (max-width:852px) {
    .sec-1 main .personal-info h1{
        font-size: 40px;
    }
    .sec-1 main .personal-info h1{
        font-size: 45px;
    }
    .sec-2 .main-1 p {
        font-size: 20px;
    }
}
@media (max-width:823px) {
    .sec-1 main .personal-info h1 {
        font-size: 40px;
    }
}
@media (max-width:784px) {
    .sec-1 .nav ul{
        width: 50%;
    }
    .sec-1 main .personal-info .btns a {
        padding: 12px 20px;
    }
    .sec-2 .main-1, .sec-2 .main-2,.sec-3 .main-3{
        padding: 50px 20px 0 20px;
    }
}
@media (max-width:750px) {
    #menu{
        display: block;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }
    #close{
        display: block;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }
    .sec-1 .nav ul{
        position: fixed;
        justify-content: space-between !important;
        align-items: center !important;
        top: 0;
        right: -200%;
        height: 100vh;
        width: 60%;
        background-color: #1A1A1A;
        flex-direction: column;
        align-items: flex-start;
        padding: 80px 20px;
        gap: 30px;
        transition: all 0.3s ease-in-out;
    }
}
@media (max-width:739px) {
    .sec-1 main .personal-info h1 {
        font-size: 35px;
    }
    .sec-2 .main-2 .skills .skill h2{
        font-size: 25px;
    }
    .sec-2 .main-2 .skills .skill ul li{
        font-size: 15px;
    }
    .sec-4 .form form {
        width: 70%;
    }
    .sec-1 main .personal-info .btns a {
        padding: 12px 15px;
    }
}
@media (max-width:695px) {
    .sec-1 main .personal-info .btns a {
        padding: 12px 12px;
    }
}
@media (max-width:669px) {
    .sec-2 .main-1, .sec-2 .main-2,.sec-3 .main-3{
        padding: 50px 0 0 0;
    }
    .sec-1 main .personal-info .btns a {
        padding: 12px 6px;
    }
}
@media (max-width:639px) {
    .sec-3 #projects-container{
        gap: 30px !important;
    }
}
@media (max-width:617px) {
    .sec-1 main{
        position: relative;
    }
    .sec-1 main .personal-info{
        position: absolute;
        width: 100% !important;
        display: flex !important;
        align-items: start !important;
        text-align: start !important;
    }
    .sec-1 main .photo{
        width: 100% !important;
    }
    .sec-1 main .personal-info .btns{
        justify-content: flex-start !important;
    }
    .sec-1 main .personal-info h1 {
        font-size: 30px;
        color: white;
    }
}
@media (max-width:600px){
    .sec-4 .form form {
        width: 100%;
    }
}
@media (max-width:590px){
    .sec-2 .main-2 .skills .skill h2{
        font-size: 22px;
    }
    .sec-2 .main-2 .skills{
        display: grid;
        grid-template-columns: 3fr;
        gap: 20px;
    }
}
@media(max-width:520px){
    .sec-1 .nav{
        top: 0 !important;
        width: 100% !important;
        padding: 40px 10px  !important;
    }
}
@media (max-width:404px) {
    .sec-2 .main-1 p {
        font-size: 17px;
    }
}
@media (max-width:399px){
    .sec-2 .main-1 h1, .sec-2 .main-2 h1, .sec-3 h1, .sec-4 h1{
        font-size: 40px;
    }
}
/* grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-0 */